* {
    font-family: system-ui;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #353540 !important;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.chat-area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.75rem;
}

.ai {
    background-color: #f9fafb;
    max-width: 75%;
    border-radius: 1em;
    align-self: start;
    margin-right: 1.75rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem;
}

.ai.loading {
    color: gray;
}

.mine {
    color: white;
    border-radius: 1em;
    background-color: #2563eb;
    max-width: 75%;
    margin-left: 1.75rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0.75rem;
}

.input-area {
    position: fixed;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 1px solid #0000004d;
    padding-right: 0.5rem;
    background: #FFF;
    border-radius: 1rem;
}

.input-area input {
    flex-grow: 1;
    height: 44px;
    max-height: 100px;
    border: 0;
    outline: none;
    padding: 12px 15px;
    background: transparent;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    color: #000000b3;
}

.input-area .send-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 32px;
    border-radius: 0.7em;
    color: #00000099;
    background: #0000001a;
}

.input-area .send-btn:hover {
    cursor: pointer;
    opacity: 0.85;
}